html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
}

footer {
    position: fixed;
    width: 100%;
    font-size: 11px;
    text-align: center;
}

footer a {
    color: hsl(228, 45%, 44%);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1{
    font-size: 20px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

img{
    width: 95%;
    padding: 5px;
    height: auto;
    border-radius: 15px;
    margin-bottom: -5%;
}

p{
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: hsl(216, 15%, 48%);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 20vw;
    padding: 10px;
    border-radius: 15px;
}

.content{
    padding: 10px;
}